<div class="wrapper">
    <div id="formContent">

        <h2 class="active"> Login </h2>
        <h2 class="inactive underlineHover"> Cadastrar </h2>

        <div class="fadeIn first">
            <img src="../../../assets/user.svg" id="icon" alt="User Icon"/>
            
        </div>

        <form class="needs-validation" novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="col-sm-12">
                    <input
                    class="fadeIn second" 
                    type="email" 
                    id="email" 
                    formControlName="email" 
                    placeholder="Email"
                    [ngClass]="{'is-invalid': submitted && hasError('email')}">
                    <div class="invalid-feedback">
                        Campo está vazio, por favor preencha o campo com um nome válido.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <input 
                    class="fadeIn third" 
                    type="password" 
                    id="password" 
                    formControlName="senha" 
                    placeholder="Senha"
                    [ngClass]="{'is-invalid': submitted && hasError('senha')}">
                    <div class="invalid-feedback">
                        Campo está vazio, por favor preencha o campo com um nome válido.
                    </div>
                </div>
            </div>


            <button class="login" type="submit">Entrar</button>
        </form>

        <div id="formFooter">
            <a class="underlineHover" href="#">Esqueci minha senha</a>
        </div>

    </div>
</div>